Flask==2.3.2
Flask-SocketIO==5.3.6
python-socketio==5.10.0
python-engineio==4.8.0
eventlet==0.33.1
werkzeug==2.3.8
dnspython<2.3.0
sqlalchemy==2.0.30
pymysql==1.1.0
Flask-SQLAlchemy==3.1.1
Flask-Login==0.6.3
requests==2.31.0